<!doctype html>
<form  method = "POST" enctype = "multipart/form-data">
    <input type=file name="file" />


    <label for="days">Days:</label>
    <input type="number" id="days" name="days" min="0" value=0>
    <label for="hours">Hours:</label>
    <input type="number" id="hours" name="hours" min="0" max="23" value=0>
    <label for="minutes">Minutes:</label>
    <input type="number" id="minutes" name="minutes" min="0" max="59" value=0>
    <input type = "submit" value = "submit" id = "submit" />
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>
